@import 'styles/variables.scss';


.Pattern {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Refactor this into a shared component */

.Pattern-header {
  align-items: center;
  width: 100%;
  padding: $base-spacing;
  background-color: $gray;
}

.Pattern-img {
  margin: $base-spacing;
}

.Pattern-directions {
  flex: 1;
  font-size: 18px;
  line-height: 1.4;
  padding: $base-spacing 0 0 $base-spacing;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding-bottom: $base-spacing;
    }
  }
}