.App {
  display: flex;
}

.App-nav {
  color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  background-color: #B29772;
}

.App-content {
  flex-direction: column;
  flex: 1 1 0%;
}

.App-logo {
  /*height: 100px;*/
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-container {
  display: flex;
  align-items: center;
}

.App-content {

}


.pattern-row .pattern-detail {

}
