@import 'styles/variables.scss';

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
  font-family: $base-font-family;
  color: $base-font-color;
  line-height: $base-line-height;
  font-size: $base-font-size;
}

a {
  color: $dark-brown;
  text-decoration: none;
}

.App {
  display: flex;
  height: 100%;
}

.App-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  background-color: $eggshell;
}
