html, body, #root {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  color: #444545;
  font-family: Arial, Helvetica, sans-serif;
  color: #444545;
  line-height: 1;
  font-size: 14px; }

a {
  color: #4e3d42;
  text-decoration: none; }

.App {
  display: flex;
  height: 100%; }

.App-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  background-color: #f7f7f6; }
