.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #B29772;
  height: 100px;
  padding: 20px;
  color: white;
  display:flex;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-container {
  display: flex;
  align-items: center;
}

.App-content {

}

.pattern-list, .pattern-row {
  display: flex;
  align-items: center;
}

.pattern-row img {
  margin: 40px;
}

.pattern-row .pattern-detail {

}
