@import 'styles/variables.scss';

.Post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* Refactor this into a shared component */

.Post-header {
  align-items: center;
  width: 100%;
  padding: $base-spacing;
  background-color: $gray;
}

.Post-body {
  flex: 1;
  font-size: 18px;
  line-height: 1.4;
  padding: $base-spacing 0 0 $base-spacing;
}