button, .button {
  display: inline-block;
  appearance: none;
  background-color: #4e3d42;
  border: 2px solid #4e3d42;
  border-radius: 7px;
  color: #FFF;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  margin: 20px;
  padding: 20px;
  /*transition: background-color $base-duration $base-timing;*/
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, .button:hover {
    background-color: #6b535a;
    border-color: #6b535a;
    color: #FFF; }
  button:focus, .button:focus {
    outline: none; }
