$kraft-brown: #B29772;
$black: #444545;
$dark-brown: #4e3d42;
$brown: #644536;
$gray: #e5e4df;
$blue: #153243;
$eggshell: #f7f7f6;
$white: #FFF;

$base-spacing: 20px;

$base-font-family: Arial, Helvetica, sans-serif;
$base-font-color: $black;
$base-font-size: 14px;
$medium-font-size: 18px;
$base-line-height: 1;